@charset "utf-8";
/* CSS Document */

body
{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h4
{
	color:#696969;
}

h5
{
	color:#696969;
}

footer
{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#login
{
	border-right: 1px solid gray;	
}

.cta
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}