@charset "utf-8";
/* CSS Document */

body
{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h4
{
	color:#696969;
}

h5
{
	color:#696969;
}

footer
{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#login
{
	border-right: 1px solid gray;	
}

.cta
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

img.ri
{
	max-width: 80%;
	top: 10%;
	left: 10%;
}

.sidebar
{
	border-width:2px;
	border-color:#666666;
	border-style:double;
	padding-left:15px;
	background-color: #FFC;
}